<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{{ track.band }} - {{ track.title }}</title>
    <link rel="stylesheet" href="{% static "css/screen.css" %}"/>
    <meta property="og:image" content="{{ track.get_thumbnail_url }}" />
</head>
<body>

<header>
    <img src="{% static "img/logo.png" %}" alt=""/>
</header>

<div class="success">Parça başarıyla gönderildi. Onaylandıktan sonra yayınlanacaktır.</div>

<div id="actions">
    <span>gönderen</span>
    <a id="sender" target="_blank" href="{{ track.sender_url }}" class="username">@{{ track.sender_name }}</a>

    <div class="share">
        <a class="facebook" target="_blank" href="https://www.facebook.com/sharer.php?u={{ track.get_full_url }}">facebook'ta paylaş</a>
        <a class="twitter" target="_blank" href="http://twitter.com/home?status={{ track.band }} - {{ track.title }} {{ track.get_full_url }}">twitter'da paylaş</a>
        <a href="#" class="send">siz de gönderin!</a>
    </div>
</div>

<div id="send-dialog">
    <form action="{% url "send_track" %}" method="post">
    {% csrf_token %}
    {{ send_track_form.as_p }}
    <a href="#" class="send">gönder</a>
    <a href="#" class="cancel">iptal</a>
    </form>
</div>

<div id="player"></div>
<div class="mask"></div>
<div class="loading">GELİYOR</div>

<div id="media-control">
    <h1>{{ track.band }}</h1>
    <h2>{{ track.title }}</h2>
    <div class="controls">
        <a class="prev" href="#">prev</a>
        <a class="pause" href="#">pause</a>
        <a class="next" href="#">next</a>
    </div>
</div>

<script src="{% static "js/vendor/jquery.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.class.min.js" %}"></script>
<script src="{% static "js/vendor/underscore.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
    onYouTubeIframeAPIReady = function () {
        var player = new progresif.MusicPlayer({
            youtubeVideoId: "{{ track.get_youtube_id }}",
            randomTrackUrl: "{% url 'random_track' %}"
        });

        player.render();
    }
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47953591-1', 'progresif.org');
  ga('send', 'pageview');
</script>
</body>
</html>
